*{
  margin: 0;
  padding: 0;
}

h1{
  width: 500px;
border: 1px solid #D8D8D8;
padding: 20px 40px;
border-radius: 5px;
font-family: Arial;
font-size: 20px;
text-transform: uppercase;
background-color: rgb(236, 255, 216);
color: green;
text-align: center;
margin-top: 10px;
margin-right: auto;
margin-left: auto;
}
p{
  font-size: 20px;
  text-align: center;
}

.no_data_msg{
  font-size: 17px;
  padding: 10px 40px;
  background: antiquewhite;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
}
